<h2 style="text-align: center; font-weight: bold;">{{ '::Menu:QuanLyXa' | abpLocalization }}</h2>
<div nz-row>
  <div nz-col nzSpan="4">
    <button *abpPermission="'Management.Xas.Create'" nz-button nzType="primary" (click)="createNewXa()">
      <div nz-icon nzType="plus-square" nzTheme="outline"></div>
      {{ '::Add-xa' | abpLocalization }}
    </button>
  </div>
  <div nz-col nzSpan="4">
    <button nz-button nzType="primary" nzShape="round" (click)="importExcel()">
      <div nz-icon nzType="download"></div>
      Xuất Excel
    </button>
  </div>
  <div nz-col nzSpan="4"></div>
  <div nz-col nzSpan="4">
    <nz-select nzPlaceHolder="Chọn tỉnh" [(ngModel)]="maTinh" (ngModelChange)="onTinhChange($event)">
      @for (p of listTinh; track p) {
      <nz-option [nzValue]="p.maTinh" [nzLabel]="p.tenTinh"></nz-option>
      }
    </nz-select>
  </div>
  <div nz-col nzSpan="4">
    <nz-select nzPlaceHolder="Chọn huyện" [(ngModel)]="maHuyen" (ngModelChange)="onHuyenChange($event)">
      @for (p of listHuyen; track p) {
      <nz-option [nzValue]="p.maHuyen" [nzLabel]="p.tenHuyen"></nz-option>
      }
    </nz-select>
  </div>
  <div nz-col nzSpan="4">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Searching..." [(ngModel)]="filter" (keyup.enter)="onSearch()" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="onSearch()">
        <span nz-icon nzType="search" nzTheme="outline"></span>
      </button>
    </ng-template>
  </div>
</div>
<nz-table [nzData]="xa.items" [nzShowPagination]="false">
  <thead>
    <tr>
      <th style="text-align: center;">{{ '::Menu:MaXa' | abpLocalization }}</th>
      <th style="text-align: center;">{{ '::Menu:TenXa' | abpLocalization }}</th>
      <th style="text-align: center;">{{ '::Menu:Cap' | abpLocalization }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of xa.items">
      <td>{{data.maXa}}</td>
      <td>{{data.tenXa}}</td>
      <td>{{data.cap}}</td>
      <td>
        <a *abpPermission="'Management.Xas.Edit'" (click)="editXa(data.id)">
          <span nz-icon nzType="setting" nzTheme="outline"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a *abpPermission="'Management.Xas.Delete'" (click)="deleteXa(data.id)">
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-pagination [nzPageIndex]="currentPage" [nzPageSize]="maxResultCount" [nzTotal]="xa.totalCount"
  (nzPageIndexChange)="onPageChange($event)"></nz-pagination>

<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectedXa.id ? '::Update-xa' : '::Add-xa') | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mt-2">
        <label for="maXa">{{ '::Menu:MaXa' | abpLocalization }}</label><span> * </span>
        <input type="number" id="maXa" class="form-control" formControlName="maXa" autofocus />
      </div>
      <div class="mt-2">
        <label for="tenXa">{{ '::Menu:TenXa' | abpLocalization }}</label><span> * </span>
        <input type="text" id="tenXa" class="form-control" formControlName="tenXa" />
      </div>
      <div class="mt-2">
        <label for="cap">{{ '::Menu:Cap' | abpLocalization }}</label><span> * </span>
        <input type="text" id="cap" class="form-control" formControlName="cap" />
      </div>
      <div class="mt-2">
        <label for="maTinh">{{ '::Menu:Tinh' | abpLocalization }}</label><span> * </span>
        <select class="form-control" id="maTinh" formControlName="maTinh" [(ngModel)]="maTinhInForm"
          (ngModelChange)="onTinhChangeInForm()">
          <option [ngValue]="null">--Chọn tỉnh--</option>
          <option [ngValue]="tinh.maTinh" *ngFor="let tinh of listTinh"> {{tinh.tenTinh}}</option>
        </select>
      </div>
      <div class="mt-2">
        <label for="maHuyen">{{ '::Menu:Huyen' | abpLocalization }}</label><span> * </span>
        <select class="form-control" id="maHuyen" formControlName="maHuyen" [(ngModel)]="maHuyenInForm">
          <option [ngValue]="null">--Chọn huyện--</option>
          <option [ngValue]="huyen.maHuyen" *ngFor="let huyen of listHuyenInForm"> {{huyen.tenHuyen}}</option>
        </select>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>