<h2 style="text-align: center; font-weight: bold;">{{ '::Menu:QuanLyHuyen' | abpLocalization }}</h2>
<div nz-row>
  <div nz-col nzSpan="4">
    <button nz-button nzType="primary">
      <div nz-icon nzType="plus-square" nzTheme="outline"></div>
      {{ '::Add-huyen' | abpLocalization }}
    </button>
  </div>
  <div nz-col nzSpan="12"></div>
  <div nz-col nzSpan="4">
    <nz-select nzPlaceHolder="Chọn tỉnh" [(ngModel)]="maTinh" (ngModelChange)="onTinhChange($event)">
        @for (p of listTinh; track p) {
            <nz-option [nzValue]="p.maTinh" [nzLabel]="p.tenTinh"></nz-option>
          }
      </nz-select>
  </div>
  <div nz-col nzSpan="4">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Searching..." [(ngModel)]="filter" (keyup.enter)="onSearch()" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="onSearch()">
        <span nz-icon nzType="search" nzTheme="outline"></span>
      </button>
    </ng-template>
  </div>
</div>
<nz-table [nzData]="huyen.items" [nzShowPagination]="false">
  <thead>
    <tr>
      <th style="text-align: center;">{{ '::Menu:MaHuyen' | abpLocalization }}</th>
      <th style="text-align: center;">{{ '::Menu:TenHuyen' | abpLocalization }}</th>
      <th style="text-align: center;">{{ '::Menu:Cap' | abpLocalization }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of huyen.items">
      <td>{{data.maHuyen}}</td>
      <td>{{data.tenHuyen}}</td>
      <td>{{data.cap}}</td>
      <td>
        <a>
          <span nz-icon nzType="setting" nzTheme="outline"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-pagination [nzPageIndex]="currentPage" [nzPageSize]="maxResultCount" [nzTotal]="huyen.totalCount" (nzPageIndexChange)="onPageChange($event)"></nz-pagination>