<h2 style="text-align: center; font-weight: bold;">{{ '::Menu:QuanLyTinh' | abpLocalization }}</h2>
<div nz-row>
  <div nz-col nzSpan="4">
    <button *abpPermission="'Management.Tinhs.Create'" nz-button nzType="primary">
      <div nz-icon nzType="plus-square" nzTheme="outline"></div>
      {{ '::Add-tinh' | abpLocalization }}
    </button>
  </div>
  <div nz-col nzSpan="16"></div>
  <div nz-col nzSpan="4">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Searching..." [(ngModel)]="filter" (keyup.enter)="onSearch()" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="onSearch()">
        <span nz-icon nzType="search" nzTheme="outline"></span>
      </button>
    </ng-template>
  </div>
</div>
<nz-table [nzData]="tinh.items" [nzShowPagination]="false">
  <thead>
    <tr>
      <th style="text-align: center;">{{ '::Menu:MaTinh' | abpLocalization }}</th>
      <th style="text-align: center;">{{ '::Menu:TenTinh' | abpLocalization }}</th>
      <th style="text-align: center;">{{ '::Menu:Cap' | abpLocalization }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tinh.items">
      <td>{{data.maTinh}}</td>
      <td>{{data.tenTinh}}</td>
      <td>{{data.cap}}</td>
      <td>
        <a *abpPermission="'Management.Tinhs.Edit'">
          <span nz-icon nzType="setting" nzTheme="outline"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a *abpPermission="'Management.Tinhs.Delete'">
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-pagination [nzPageIndex]="currentPage" [nzPageSize]="maxResultCount" [nzTotal]="tinh.totalCount" (nzPageIndexChange)="onPageChange($event)"></nz-pagination>