<h2 style="text-align: center; font-weight: bold;">{{ '::Menu:QuanLyBV' | abpLocalization }}</h2>
<div nz-row>
  <div nz-col nzSpan="4">
    <button *abpPermission="'Hospital.Create'" nz-button nzType="primary">
      <div nz-icon nzType="plus-square" nzTheme="outline"></div>
      {{ '::Add-bv' | abpLocalization }}
    </button>
  </div>
  <div nz-col nzSpan="4"></div>
  <div nz-col nzSpan="4">
    <nz-select nzPlaceHolder="Chọn tỉnh" [(ngModel)]="maTinh" (ngModelChange)="onTinhChange($event)">
        @for (p of listTinh; track p) {
            <nz-option [nzValue]="p.maTinh" [nzLabel]="p.tenTinh"></nz-option>
          }
      </nz-select>
  </div>
  <div nz-col nzSpan="4">
    <nz-select nzPlaceHolder="Chọn huyện" [(ngModel)]="maHuyen" (ngModelChange)="onHuyenChange($event)">
        @for (p of listHuyen; track p) {
            <nz-option [nzValue]="p.maHuyen" [nzLabel]="p.tenHuyen"></nz-option>
          }
      </nz-select>
  </div>
  <div nz-col nzSpan="4">
    <nz-select nzPlaceHolder="Chọn xã" [(ngModel)]="maXa" (ngModelChange)="onXaChange($event)">
        @for (p of listXa; track p) {
            <nz-option [nzValue]="p.maXa" [nzLabel]="p.tenXa"></nz-option>
          }
      </nz-select>
  </div>
  <div nz-col nzSpan="4">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Searching..." [(ngModel)]="filter" (keyup.enter)="onSearch()" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="onSearch()">
        <span nz-icon nzType="search" nzTheme="outline"></span>
      </button>
    </ng-template>
  </div>
</div>
<nz-table [nzData]="hospital.items" [nzShowPagination]="false">
  <thead>
    <tr>
      <th style="text-align: center;">{{ '::Menu:MaBV' | abpLocalization }}</th>
      <th style="text-align: center;">{{ '::Menu:TenBV' | abpLocalization }}</th>
      <th style="text-align: center;">{{ '::Menu:DiaChi' | abpLocalization }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of hospital.items">
      <td>{{data.ma}}</td>
      <td>{{data.ten}}</td>
      <td>{{data.diaChi}}</td>
      <td>
        <a *abpPermission="'Hospital.Edit'">
          <span nz-icon nzType="setting" nzTheme="outline"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a *abpPermission="'Hospital.Delete'">
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-pagination [nzPageIndex]="currentPage" [nzPageSize]="maxResultCount" [nzTotal]="hospital.totalCount" (nzPageIndexChange)="onPageChange($event)"></nz-pagination>

